<div class="space-y-10 py-8 px-4 sm:px-8 max-w-7xl mx-auto">

  <div class="text-center zoom-in" appScrollAnimation>
    <h2 class="font-bold text-4xl uppercase  text-[#C4B5FD] tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">Portafolio</h2>
    <p class="text-lg text-white max-w-2xl mx-auto pb-10">
      Aqui puedes encontrar los proyectos mas relevantes que he realizado
    </p>
    <component-portafolio></component-portafolio>
  </div>

</div>
