<div class="space-y-10 py-8 px-8 max-w-4xl mx-auto zoom-in"  appScrollAnimation>
  <!-- Sección Sobre Mí -->
  <div class="text-center ">
    <h2 class="font-bold text-4xl uppercase text-gray-700 tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">Blog</h2>
    <p class="text-xl text-gray-600 max-w-2xl mx-auto mb-10">
      Explorando el mundo del desarrollo y la tecnologia.
    </p>
    <app-blog-component></app-blog-component>
  </div>


</div>
