<div class="space-y-10 py-8 px-8 max-w-4xl mx-auto zoom-in" appScrollAnimation>
  <!-- Sección Blog -->
  <div class="text-center">
    <h2 class="font-bold text-4xl sm:text-5xl md:text-6xl uppercase text-[#C4B5FD] tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">
      Blog
    </h2>
    <p class="text-xl sm:text-2xl text-white max-w-2xl mx-auto mb-10">
      Explorando el mundo del desarrollo y la tecnología.
    </p>
    <app-blog-component></app-blog-component>
  </div>
</div>
