<div class="container mx-auto flex flex-col items-center p-2">

  <p class="text-center text-gray-600 dark:text-gray-400 mb-12 max-w-2xl"  >
    Desarrollo aplicaciones modernas con un enfoque en <span class="text-indigo-500 font-semibold">Frontend</span>, complementando con habilidades en <span class="text-indigo-500 font-semibold">Backend</span> y bases de datos para crear soluciones completas.
  </p>
  <div class="grid w-full grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-1"  >

    <div class="flex items-start space-x-6 p-6 w-full bg-slate-700 rounded-3xl shadow-lg">
      <!-- Icono -->
      <div class="flex-shrink-0">
        <svg class="hi-outline hi-template inline-block w-12 h-12 text-indigo-500" stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
        </svg>
      </div>

      <!-- Contenido -->
      <div>

        <h3 class="text-lg font-bold mb-2 text-white">Frontend</h3>
        <p class="text-sm leading-6 text-gray-300 text-left">
          Diseño e implemento interfaces modernas y responsivas utilizando tecnologías como <strong>React</strong>, <strong>Angular</strong> y <strong>Tailwind CSS</strong>, asegurando experiencias de usuario fluidas.
        </p>

      </div>
    </div>


    <div class="flex items-start space-x-6 p-6 w-full bg-slate-700 rounded-3xl shadow-lg">
          <!-- Icono -->
          <div class="flex-shrink-0">
            <svg class="hi-outline hi-template inline-block w-12 h-12 text-indigo-500" stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 6v12m6-6H6"></path>
            </svg>
          </div>

          <!-- Contenido -->
          <div>

            <h3 class="text-lg font-bold mb-2 text-white">Backend</h3>
            <p class="text-sm leading-6 text-gray-300 text-left">
              Desarrollo servicios robustos y seguros utilizando <strong class="text-blue-400">Node.js</strong> con <strong>Express</strong> y <strong class="text-blue-400" >Asp.net Web</strong>  con <strong class="text-blue-400"> Entity FrameWork</strong>  , creando APIs RESTful y conectándolas con interfaces Frontend.
            </p>

          </div>
        </div>


    <!-- Bases de datos -->
    <div class="flex items-start space-x-6 p-6 w-full bg-slate-700 rounded-3xl shadow-lg">
      <!-- Icono -->
      <div class="flex-shrink-0">
        <svg
          class="hi-outline hi-database w-16 h-16 text-indigo-500"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M4 6v14a2 2 0 002 2h12a2 2 0 002-2V6M4 6h16M8 10h8">
          </path>
        </svg>
      </div>

      <!-- Contenido -->
      <div>
        <h3 class="text-lg font-bold mb-2 text-white">Bases de Datos</h3>
        <p class="text-base leading-relaxed text-gray-300">
          Diseño y optimización de bases de datos relacionales utilizando
          <strong class="text-blue-400">MySQL y MSSQL</strong> y bases no relacionales
          <strong class="text-blue-400">MongoDB</strong>, asegurando integridad y eficiencia en el manejo de datos.
        </p>
      </div>
    </div>




  </div>
</div>

