<section class="py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Desarrollo Backend</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">ASP.NET, Node.js, Express</p>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Bases de Datos</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">SQL Server, MongoDB, MySQL</p>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Frontend</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">React, Angular, Tailwind CSS</p>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Iot</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">Programacion de Microcontroladores ESP32, Arduino</p>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Lenguajes de Programación</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">C#, JavaScript, Python, TypeScript,</p>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <h3 class="text-lg font-medium text-indigo-600 dark:text-indigo-300">Desarrollo Movil</h3>
      <p class="mt-2 text-gray-600 dark:text-gray-400">Flutter: <span class="text-indigo-300"> Basico</span></p>
      <p class="mt-2 text-gray-600 dark:text-gray-400">Android: <span class="text-indigo-300"> Basico</span></p>
    </div>
  </div>
</section>




<section class="py-8">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

    <!-- Idioma 1: Español -->
    <div class="flex items-center space-x-4  transition-transform transform hover:scale-105">
      <div class="p-3 bg-indigo-500 text-white rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c2.5 0 4.5-2 4.5-4.5S14.5 2 12 2 7.5 4 7.5 6.5 9.5 11 12 11zm0 1c-3 0-6.4 1.5-6.4 4.5 0 .6.4 1 1 1h10.8c.6 0 1-.4 1-1 0-3-3.4-4.5-6.4-4.5z" />
        </svg>
      </div>
      <div>
        <p class="text-lg font-medium text-gray-900 dark:text-white">Español</p>
        <span class="text-sm text-gray-500 dark:text-gray-400">Nativo</span>
      </div>
    </div>

    <!-- Idioma 2: Inglés -->
    <div class="flex items-center space-x-4  transition-transform transform hover:scale-105">
      <div class="p-3 bg-green-500 text-white rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c2.5 0 4.5-2 4.5-4.5S14.5 2 12 2 7.5 4 7.5 6.5 9.5 11 12 11zm0 1c-3 0-6.4 1.5-6.4 4.5 0 .6.4 1 1 1h10.8c.6 0 1-.4 1-1 0-3-3.4-4.5-6.4-4.5z" />
        </svg>
      </div>
      <div>
        <p class="text-lg font-medium text-gray-900 dark:text-white">Inglés</p>
        <span class="text-sm text-gray-500 dark:text-gray-400">B1</span>
      </div>
    </div>

  </div>
</section>
