<ul class="max-w-3xl divide-y divide-gray-200 dark:divide-gray-700 mt-12 mx-auto">
  <!-- Entrada 1 -->
  <li class="py-4">
    <div class="flex flex-col sm:flex-row items-center sm:items-start space-y-4 sm:space-y-0 sm:space-x-4 rtl:space-x-reverse transition-transform transform hover:scale-105">
      <div class="flex-shrink-0">
        <img class="w-16 h-16 sm:w-24 sm:h-24 rounded-full shadow-lg" src="https://pbs.twimg.com/media/EwN7tXlWUAINJ3z.jpg" alt="Cosma Magna logo">
      </div>
      <div class="flex-1 min-w-0 text-center sm:text-left">
        <p class="text-lg font-semibold text-gray-900 dark:text-white">Cosma Magna S.L.P.</p>
        <p class="text-md text-gray-500 dark:text-gray-400 mt-1 mb-3">Desarrollador de Software Industria 4.0</p>
        <ul class="list-disc pl-5 text-sm text-gray-600 dark:text-gray-300 mt-2 text-left">
          <li><span class="text-indigo-300">Desarrollo de  APIs REST</span> con ASP.NET y Entity Framework Core 6, integrando múltiples bases de datos.</li>
          <li><span class="text-indigo-300">Creacion de Aplicaciones Web </span> con Angular, TailwindCSS y .NET</li>
          <li><span class="text-indigo-300">Gestión de bases de datos</span> SQL Server e InfluxDB.</li>
          <li><span class="text-indigo-300">Desarrollo de plugins en Grafana</span> con React para visualizar datos de producción.</li>
        </ul>
      </div>
      <div class="flex-shrink-0 text-center sm:text-right">
        <span class="text-md font-medium text-gray-900 dark:text-white">Sep 2024 - Actual</span>
      </div>
    </div>
  </li>

  <!-- Entrada 2 -->
  <li class="py-4 mt-4">
    <div class="flex flex-col sm:flex-row items-center sm:items-start space-y-4 sm:space-y-0 sm:space-x-4 rtl:space-x-reverse transition-transform transform hover:scale-105">
      <div class="flex-shrink-0">
        <img class="w-16 h-16 sm:w-24 sm:h-24 rounded-full shadow-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5YSaKJMrF2wUapDC2kv73AxiScL5HKMKT2w&s" alt="PEASA logo">
      </div>
      <div class="flex-1 min-w-0 text-center sm:text-left">
        <p class="text-lg font-semibold text-gray-900 dark:text-white">PEASA</p>
        <p class="text-md text-gray-500 dark:text-gray-400 mt-1 mb-3">Desarrollador de Aplicaciones en Mejora Continua</p>
        <ul class="list-disc pl-5 text-sm text-gray-600 dark:text-gray-300 mt-2 text-left">
          <li><span class="text-indigo-300">Automatización de procesos</span> en Recursos Humanos, mejorando la eficiencia operativa.</li>
          <li><span class="text-indigo-300">Desarrollo de aplicaciones web</span> con JavaScript, HTML, TailwindCSS , React, Node.js.</li>
          <li><span class="text-indigo-300">Desarrollo de una app de control de personal</span> con Microsoft .NET 6.</li>
          <li><span class="text-indigo-300">Análisis de datos</span> con Excel y Python, generando informes clave para decisiones.</li>
        </ul>
      </div>
      <div class="flex-shrink-0 text-center sm:text-right">
        <span class="text-md font-medium text-gray-900 dark:text-white">Ene 2024 - Jul 2024</span>
      </div>
    </div>
  </li>

  <!-- Entrada 3 -->
  <li class="py-4 mt-4">
    <div class="flex flex-col sm:flex-row items-center sm:items-start space-y-4 sm:space-y-0 sm:space-x-4 rtl:space-x-reverse transition-transform transform hover:scale-105">
      <div class="flex-shrink-0">
        <img class="w-16 h-16 sm:w-24 sm:h-24 rounded-full shadow-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQli_bQUEepcIMxQNF5UGbF_JxMcUAxeY7wQ&s" alt="Laboratorio logo">
      </div>
      <div class="flex-1 min-w-0 text-center sm:text-left">
        <p class="text-lg font-semibold text-gray-900 dark:text-white">Laboratorio de Ingenieria de Control, UASLP</p>
        <p class="text-md text-gray-500 dark:text-gray-400 mt-1 mb-3">Becario de Ingenieria de Control</p>
        <ul class="list-disc pl-5 text-sm text-gray-600 dark:text-gray-300 mt-2 text-left">
          <li><span class="text-indigo-300">Impartí clases</span> y realicé simulaciones matemáticas de sistemas de control.</li>
          <li><span class="text-indigo-300">Programación en Scilab, Octave y Matlab</span> para análisis de sistemas.</li>
          <li><span class="text-indigo-300">Uso de Simulink</span> y librerías como Matplotlib para visualización y simulación.</li>
        </ul>
      </div>
      <div class="flex-shrink-0 text-center sm:text-right">
        <span class="text-md font-medium text-gray-900 dark:text-white">Ene 2023 - May 2024</span>
      </div>
    </div>
  </li>
</ul>
