<section class="bg-transparent text-gray-100 py-10">
  <div class="max-w-3xl mx-auto px-4">
    <!-- Título de la sección -->
    <p class="text-2xl sm:text-3xl font-bold text-[#C4B5FD] uppercase mt-8 sm:mt-14 text-center">
      Experiencia Profesional
    </p>

    <!-- Lista de Experiencias -->
    <ul class="divide-y divide-gray-700 mt-8">
      <!-- Iterar sobre las experiencias laborales -->
      <li *ngFor="let experience of experiences" class="py-6">
        <div class="flex flex-col sm:flex-row items-center sm:items-start space-y-4 sm:space-y-0 sm:space-x-6 transform transition-transform duration-300 hover:scale-[1.03] p-4 rounded-lg">
          <!-- Logo de la empresa -->
          <div class="flex-shrink-0">
            <img class="w-16 h-16 sm:w-24 sm:h-24 rounded-full shadow-lg" [src]="experience.logoSrc" alt="{{ experience.companyName }} logo" />
          </div>
          <!-- Información de la empresa -->
          <div class="flex-1 min-w-0 text-center sm:text-left">
            <p class="text-lg font-semibold">{{ experience.companyName }}</p>
            <p class="text-md text-gray-400 mt-1 mb-3">{{ experience.jobTitle }}</p>
            <!-- Descripción de las responsabilidades -->
            <ul class="list-disc pl-5 text-sm space-y-1 text-left">
              <li *ngFor="let item of experience.description">
                <span class="text-indigo-400">{{ item.split(' ')[0] }}</span> {{ item.slice(item.indexOf(' ') + 1) }}
              </li>
            </ul>
          </div>
          <!-- Duración del empleo -->
          <div class="flex-shrink-0 text-center sm:text-right">
            <span class="text-sm font-medium text-gray-200">{{ experience.duration }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
