<div class="space-y-10 py-8 px-8 max-w-4xl mx-auto zoomIn" appScrollAnimation>
  <!-- Sección Sobre Mí -->
  <div class="text-center">
    <h2 class="font-bold text-4xl uppercase text-gray-700 tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">Curriculum</h2>
    <p class="text-lg text-gray-600 max-w-2xl mx-auto">
       Ingeniero en Mecatronica |  Experiencia en Industria Automotriz como Desarrollador de Aplicaciones.
    </p>

    <p class="text-2xl text-gray-600 max-w-4xl mx-auto uppercase text-left mt-14">
      Experiencia laboral
    </p>

    <div class="zoom-in" >
      <component-information-experience></component-information-experience>
    </div>
    <div class="zoom-in" appScrollAnimation>
      <component-education-courses></component-education-courses>
    </div>

    <p class="text-2xl text-gray-600 max-w-4xl mx-auto uppercase text-left mt-8 mb-6">
      Habilidades e Idiomas
    </p>

    <components-skills></components-skills>
    <!-- <component-about-me></component-about-me> -->
  </div>

</div>
