
<div class="space-y-10 py-8 px-8 max-w-4xl mx-auto fadeIn" appScrollAnimation>
  <!-- Sección Sobre Mí -->
  <div id="section-1" class="text-center" >
    <h2 class="font-bold text-4xl uppercase  text-[#C4B5FD] tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">Sobre Mí</h2>
    <p class="text-lg text-white max-w-2xl mx-auto">
      Aqui puedes encontrar una pequeña descripcion sobre mi y mis habilidades.
    </p>
    <component-about-me></component-about-me>
  </div>

  <!-- Sección Qué hago -->
  <div id="section-2" class="text-center animate-block fadeIn" appScrollAnimation>
    <h2 class="font-bold text-4xl uppercase text-[#C4B5FD] tracking-wider relative pb-2 mb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">¿Qué es lo que hago?</h2>
    <component-activities></component-activities>
  </div>

  <!-- Sección Contacto -->
  <div  class="text-center fadeIn" appScrollAnimation>
    <h2 class="font-bold text-4xl uppercase  text-[#C4B5FD] tracking-wider relative pb-2 mb-8 pt-10 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-16 after:h-1 after:bg-indigo-500">Contacto</h2>
    <p class="text-lg text-[#D1D5DB] max-w-2xl mx-auto">
      ¿Tienes alguna pregunta o deseas ponerte en contacto? Encuentra aquí toda la información de contacto.
    </p>
      <component-contact-information></component-contact-information>
  </div>
</div>
