<section class="py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

    <!-- Contenedor grid para las tarjetas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">

      <!-- Usamos ngFor para iterar sobre el array 'articles' -->
      <div *ngFor="let article of articles" class="group cursor-pointer w-full max-w-xl border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600">

        <div class="flex items-center mb-6">
          <!-- Imágenes dinámicas por cada artículo -->
          <img src="{{ article.image }}" alt="{{ article.title }}" class="rounded-lg object-cover w-96 h-48">

        </div>

        <div class="block">
          <h4 class="text-left text-white font-medium leading-8 mb-9">{{ article.title }}</h4>
          <div class="flex items-center justify-between font-medium">
            <h6 class="text-sm text-gray-500">By {{article.author}}</h6>
            <p class="text-gray-400 text-sm mt-2">{{ article.date | date }}</p>
            <a [routerLink]="['/section/blog', article.id]" class="text-indigo-600 hover:text-indigo-800 font-bold mt-4 inline-block">Leer más</a>
          </div>


          </div>
        </div>
      </div>

    </div>

</section>
