<!-- Sección EDUCACIÓN -->
<section class="bg-transparent text-gray-100 py-10">
  <div class="max-w-4xl mx-auto px-4">
    <!-- Título Educación -->
    <p class="text-2xl sm:text-3xl font-bold  text-[#C4B5FD] uppercase mt-8 sm:mt-14">
      Educación
    </p>

<!-- Tarjeta Educación -->
<ul class="mt-8">
  <li class="py-4">
    <div
      class="bg-transparent rounded-lg p-6 shadow-lg mb-6
             flex flex-col sm:flex-row items-center sm:items-center
             space-y-4 sm:space-y-0 sm:space-x-6
             transform transition-transform duration-300 hover:scale-[1.03]"
    >
      <!-- Logo -->
      <div class="w-24 h-24 sm:h-20 sm:w-20 flex-shrink-0 mx-auto">
        <img
          class="w-full h-full rounded-full shadow-md"
          src="https://altexto.mx/publisher/ilogo/5f81b512966682ba7534fb52dc5221cf"
          alt="UASLP logo"
        />
      </div>
      <!-- Info -->
      <div class="flex-1 min-w-0 text-center sm:text-left">
        <p class="text-xl sm:text-2xl font-semibold">Universidad Autónoma de San Luis Potosí</p>
        <p class="text-md sm:text-md text-gray-400 mt-1">
          Facultad de Ingeniería
        </p>
        <ul class="list-disc pl-5 text-sm sm:text-sm text-gray-300 mt-3 space-y-2">
          <li>
            <span class="text-indigo-400 font-medium">
              Ingeniería en Mecatrónica
            </span>
            <span class="text-gray-300">
              &nbsp;Promedio general de 88.93, título en proceso.
            </span>
          </li>
        </ul>
      </div>
      <!-- Fecha -->
      <div class="flex-shrink-0 text-right">
        <span class="text-sm font-medium text-gray-200">
          Sep 2019 - Actual
        </span>
      </div>
    </div>
  </li>
</ul>
    <!-- Título Cursos y Certificaciones -->
    <p class="text-2xl text-[#C4B5FD] sm:text-3xl font-bold  uppercase mt-10 sm:mt-20">
      Cursos y certificaciones
    </p>
  </div>

  <div class="max-w-6xl mx-auto px-4 mt-6 sm:mt-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 sm:gap-10">
      <div
        *ngFor="let course of courses"
        class="bg-white/5 backdrop-blur-sm group relative overflow-hidden rounded-lg shadow-lg
               transform transition-transform duration-300 hover:scale-[1.03]"
      >
        <img
          [src]="course.image"
          [alt]="course.title"
          class="w-full h-48 object-cover rounded-t-lg"
        />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-[#C4B5FD]">
            {{ course.title }}
          </h3>
          <p class="text-sm text-white mt-2">
            {{ course.description }}
          </p>
        </div>
        <div
          class="absolute inset-0 bg-gray-900 bg-opacity-50
                 flex items-center justify-center
                 opacity-0 group-hover:opacity-100
                 transition-opacity duration-300"
        >
          <a
            [href]="course.certificateUrl"
            target="_blank"
            class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700"
          >
            Ver Certificado
          </a>
        </div>
      </div>
    </div>
  </div>

 </section>
