
<p class="text-xl sm:text-2xl text-gray-600 max-w-4xl mx-auto uppercase text-left mt-8 sm:mt-14">
  Educacion
  </p>

<li class="py-4">

  <div class="bg-transparent shadow-lg rounded-lg p-6 mb-6 flex flex-col sm:flex-row items-start sm:items-center space-y-4 sm:space-y-0 sm:space-x-6 transition-transform transform hover:scale-105">

    <div class="w-24 h-24 sm:h-20 sm:w-20 flex-shrink-0">
      <img class="w-full h-full rounded-full shadow-md" src="https://altexto.mx/publisher/ilogo/5f81b512966682ba7534fb52dc5221cf" alt="Cosma Magna logo">
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-lg sm:text-xl font-semibold text-gray-900 dark:text-white">Universidad Autónoma de San Luis Potosí</p>
      <p class="text-md sm:text-md text-gray-500 dark:text-gray-400 mt-1">Facultad de Ingeniería</p>
      <ul class="list-disc pl-5 text-sm  sm:text-sm text-gray-700 dark:text-gray-300 mt-3 space-y-2 text-left">
        <li>
          <span class="text-indigo-500 font-medium">Ingeniería en Mecatrónica</span>
          <span class="text-gray-500 dark:text-gray-400"> Promedio general de 88.93, título en proceso.</span>
        </li>
      </ul>
    </div>
    <!-- Fecha -->
    <div class="flex-shrink-0 text-right">
      <span class="text-md font-medium text-gray-700 dark:text-white">Sep 2019 - Actual</span>
    </div>
  </div>

  <p class="text-xl sm:text-2xl text-gray-600 max-w-4xl mx-auto uppercase text-left mt-10 sm:mt-20">
    Cursos y certificaciones
</p>


<section class="bg-transparent py-12 sm:py-16 ">

  <div class="max-w-6xl mx-auto px-6 text-center mt-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-10">
      <!-- Curso 1 -->
      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://res.cloudinary.com/react-courses-rafa/image/upload/v1734128759/journal/ltdsilgrz2naondxkzrw.png" alt="Certificado 1" class="w-full h-48  sm:h-48 object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl  sm:text-xl font-semibold text-gray-900 dark:text-white text-left">Angular: De Cero A Experto</h3>
          <p class="text-sm sm:text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende las bases de Angular y lleva tus habilidades mas alla.</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://cursos.devtalles.com/certificates/klo8xvp4su" target="_blank" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>
      </div>

      <!-- Curso 2 -->
      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-9f13aae9-d81b-4474-a2ce-29c83dcf0074.jpg?v=1731379207000" alt="Certificado 2" class="w-full h-48  sm:h-48 object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl sm:text-xl font-semibold text-gray-900 dark:text-white text-left">React: De Cero A Experto </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende las bases de React y aplica tus conocimientos en el desarrollo Frontend.</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://www.udemy.com/certificate/UC-9f13aae9-d81b-4474-a2ce-29c83dcf0074/m" target="_blank" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>
      </div>
      <!-- Curso 3 -->
      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-9e2da906-389f-465b-846a-8369f93c948c.jpg?v=1726119879000" alt="Certificado 3" class="w-full h-48  sm:h-48  object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl sm:text-xl font-semibold text-gray-900 dark:text-white text-left">JavaScript Moderno: Guia Definitiva</h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende las bases del desarollo web mediante JavaScript, HTML5 y CSS3.</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://www.udemy.com/certificate/UC-9e2da906-389f-465b-846a-8369f93c948c/" target="_blank" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>

      </div>

      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://res.cloudinary.com/react-courses-rafa/image/upload/v1734058524/journal/tyiqaww6h8biuqvdmhes.png" alt="Certificado 4" class="w-full h-48  sm:h-48 object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl sm:text-xl font-semibold text-gray-900 dark:text-white text-left">Foundational C# With Microsoft </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende las bases del lenguaje potencializado por Microsoft.</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://www.freecodecamp.org/certification/fcc1a16f5db-feb8-42e2-87cf-2ecaaf3b8e97/foundational-c-sharp-with-microsoft" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>
      </div>


      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-dd5649b8-a7d5-4600-bbb8-111cb981369e.jpg?v=1711323513000" alt="Certificado 4" class="w-full h-48  sm:h-48 object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl sm:text-xl font-semibold text-gray-900 dark:text-white text-left"> Programacion de Robotica Industrial: FANUC Core Training</h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende a progrmar robots de la industria como un profesional</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://www.udemy.com/certificate/UC-dd5649b8-a7d5-4600-bbb8-111cb981369e/" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>
      </div>

      <div class="group relative overflow-hidden bg-white dark:bg-gray-900 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <img src="https://res.cloudinary.com/react-courses-rafa/image/upload/v1734058763/journal/hyrhcm3wjvnsv7nm29op.png" alt="Certificado 4" class="w-full h-48   sm:h-48 object-cover rounded-t-lg">
        <div class="p-6 sm:p-6">
          <h3 class="text-xl sm:text-xl font-semibold text-gray-900 dark:text-white text-left">Getting Started With Deep Learning</h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-2 text-left">Aprende las bases del aprendizaje profundo mediante Keras y Phyton .</p>
        </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <a href="https://learn.nvidia.com/certificates?id=fb3ca4fa6ebb4284a1f1a68d8992f6d8" class="text-white font-semibold text-lg px-4 py-2 bg-indigo-600 rounded-md hover:bg-indigo-700">Ver Certificado</a>
        </div>
      </div>

    </div>
  </div>
</section>
